<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Football360.Properties.Settings.DBProvaConnectionString"
            connectionString="Data Source=NICOLAS\SQLEXPRESS;Initial Catalog=DBProva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Football360.Properties.Settings.Football360ConnectionString"
            connectionString="Data Source=NICOLAS\SQLEXPRESS;Initial Catalog=Football360;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>